[Unit]
Description=taskwarrior frontend to display tasks in a kanban board

[Service]
User=guillaume
Environment=FLASK_APP=kanbanwarrior
ExecStart=flask run

[Install]
WantedBy=multi-user.target
