/* source: https://code-boxx.com/css-collapsible-tree-menu */
/* (A) LIST TO MENU */
.tree, .section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 93vh;
    overflow: auto;
}

.tree {
    background: #fbfbfb;
    border: 1px solid #d2d2d2;
}

.tree li {
    border-bottom: 1px solid #d2d2d2;
    padding: 15px 10px;
}

.tree li:last-child {
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

.section ul {
    display: none;
}

.section input:checked ~ ul {
    display: block;
}

/* (B2) HIDE CHECKBOX */
.section input[type=checkbox] {
    display: none;
}

/* (B3) ADD EXPAND/COLLAPSE ICON  */
.section { 
    position: relative; 
    padding-left: 35px !important;
}

.section label:after {
    content: "\0002B";
    position: absolute;
    top: 0; left: 0;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #f00;
    transition: all 0.5s;
}

.section input:checked ~ label:after { 
    color: #23c37a;
    transform: rotate(45deg);
}

/* (B4) SUB-SECTION ITEMS */
.section ul {
    margin-top: 10px;
}

.section ul li {
    color: #d43d3d;
}
